<%= link_to project_path(project, anchor: 'nav') do %>
	<div class="project">
		<h2>
			<%= project.name %>
			<small><%= project.language %></small>
		</h2>
		<span class="pull-right">
			<%= project.finished_at %>
		</span>
		<p>
			<%= project.blurb %>
		</p>
	</div>
<% end %>
