<% provide :title, @project.name %>

<% if admin? %>
	<%= link_to 'Edit', edit_project_path(@project), class: 'pull-right'  %>
	<br>
<% end %>

<span class="pull-right">
	<%= link_to 'Project Page', @project.project_url, target: '_blank' %>
	<% unless @project.code_url.blank? %> 
		| <%= link_to 'Source Code', @project.code_url, target: '_blank' %>
	<% end %>
</span>

<h1>
	<%= @project.name %>
</h1>

<section id="project" class="markdown">
	<%= markdown @project.description %>
</section>	

<% if admin? %>
	<br>
	<%= link_to "Delete project", @project, method: :delete, 
		confirm: 'Are you sure you want to delete this project forever?', class: 'delete-button' %>
<% end %>
