<%= link_to thought do %>
	<div class="row project">
		<span class="pull-right">
			<%= thought.updated_at %>
		</span>
		<h2>
			<%= thought.title %>
			<small>~ <%= thought.author %></small>
		</h2>
		<p>
			<%= thought.blurb %>
		</p>
	</div>
<% end %>
