<% if editor? %>
	<%= link_to "Share new thought", new_thought_path, class: 'btn' %>
<% end %>

<div id="tag-cloud"></div>

<div class="thoughts">
	<%= render @thoughts %>
	
	<%= paginate @thoughts, params: { anchor: 'nav' } %>
</div>



<% content_for :head do %>
	<%= javascript_include_tag "d3" %>

	<script type="text/javascript">
	
		$(document).ready(function() {
			var width = parseInt( d3.select("#tag-cloud").style("width") );
			var height = parseInt( d3.select("#tag-cloud").style("height") );
								
			var tags = <%= @tags.to_json.html_safe %>;
			
			var fontSize = d3.scale.log().range([18, 50]);
			fontSize.domain([tags[tags.length-1].count, tags[0].count]);
			
			var fillColor = function() {
				var value = Math.floor(Math.random() * 80) + 20;
				return "rgb(" + value + "," + value + "," + value + ")";
			};
			
			d3.layout.cloud()
				.size([width, height])
				.timeInterval(10)
		    .text(function(d) { return d.name; })
		    .font("Impact")
		    .rotate(function() { return ~~(Math.random() * 3) * 30 - 30; })
		    .padding(1)
		    .fontSize(function(d) { return fontSize(d.count); })
		    .on("end", draw)
		    .words(tags)
		    .start();
		    
		  function draw(words) {
		    d3.select("#tag-cloud").append("svg")
	        .attr("width", width)
	        .attr("height", height)
	      .append("g")
	        .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
	      .selectAll("text")
	        .data(words)
	      .enter().append("text")
	        .attr("text-anchor", "middle")
	        .attr("transform", function(d) {
	          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
	        })
	        .style("font-size", function(d) { return d.size + "px"; })
	        .style("cursor", "pointer")
	        .on("click", function(d) {
		        window.location.href = "/thoughts?tags%5B%5D=" + d.text + "#nav";
	    			return false;
		      })
		      .on("mouseover", function(d) {
		      	var color = d3.rgb(d3.select(this).style("fill"));
		      	d3.select(this).style("fill", "rgb(" + (color.r + 20) + "," +
		      		(color.g + 20) + ',' + (color.b + 20) + ")");
		      })
		      .on("mouseout", function(d) {
		      	var color = d3.rgb(d3.select(this).style("fill"));
		      	d3.select(this).style("fill", "rgb(" + (color.r - 20) + "," +
		      		(color.g - 20) + ',' + (color.b - 20) + ")");
		      })
		      .on("mousedown", function(d) {
		      	var color = d3.rgb(d3.select(this).style("fill"));
		      	d3.select(this).style("fill", "rgb(" + (color.r - 30) + "," +
		      		(color.g - 30) + ',' + (color.b - 30) + ")");
		      })
		      .style("opacity", 1)
	      	.style("font-family", function(d) { return d.font; })
	      	.style("fill", function(d) { return fillColor(); })
	        .text(function(d) { return d.text; });
		  }
		});
		
	</script>

<% end %>
