<head>
	<title><%= ['AJ Ostrow', yield(:title)].compact.join(' | ') %></title>
	
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= yield :head %>
  <%= csrf_meta_tags %>
  
  <link rel="icon" type="image/png" href="/favicon.png">
  
	<!-- Meta Data -->
	<meta name="description" content="AJ Ostrow's weblog and thoughts."/>
	<meta name="keywords" content="ostrow, aj, aj ostrow, alexander ostrow, seattle, montreal, software, programming"/>
	<meta name="author" content="AJ Ostrow" />
	
</head>
