<header>
	
	<div class="row title">
		AJ Ostrow
	</div>
	
	<div id="nav"></div>
	
	<hr>
	
	<nav class="row navigation">
		<ul>
			<li>
				<%= link_to 'About', root_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<%= link_to 'Thoughts', thoughts_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<%= link_to 'Projects', projects_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<%= link_to 'Experience', experience_path(anchor: 'nav') %>
			</li>
			<li class="element">
				<%= link_to 'Contact', contact_path(anchor: 'nav') %>
			</li>
		</ul>
	</nav>
	
	<hr>

</header>
