<!DOCTYPE html>
<html lang='en'>

<%= render 'layouts/head' %>

<body>
	
	<%= render 'layouts/facebook' %>
	
	<%= render 'layouts/header' %>
	
	<div class="container">
		
		<div class="content">			
	
			<section class="page">
				<div class="page-inner">
					<%= yield %>
				</div>
			</section>
			
		</div>
		
	</div>
	
	<%= render 'layouts/footer' %>
	
	<% if Rails.env.development? %>
		<div class="container">		
			<%= debug(params) %>
		</div>
	<% end %>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-45264033-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>
